version: 1 # Manually edited to induce 500 error
interactions:
    - request:
          method: POST
          uri: https://orgname.my.salesforce.com/services/data/vxx.0/composite
          body:
              '{"compositeRequest": [{"referenceId": "refAccount", "method": "GET", "url":
              "/services/data/vxx.0/query/?q=select count() from Account"}, {"referenceId":
              "refXYZZY", "method": "GET", "url": "/services/data/vxx.0/query/?q=select count()
              from XYZZY"}]}'
          headers:
              Request-Headers:
                  - Elided
      response:
          status:
              code: 500 # Manually edited to induce an error
              message: OK
          headers:
              Content-Type:
                  - application/json;charset=UTF-8
              Others: Elided
          body:
              string: ""
