version: 1
interactions:
    - request:
          method: POST
          uri: https://orgname.my.salesforce.com/services/data/vxx.0/composite
          body:
              '{"compositeRequest": [{"referenceId": "refAccount", "method": "GET", "url":
              "/services/data/vxx.0/query/?q=select count() from Account"}, {"referenceId":
              "refOpportunity", "method": "GET", "url": "/services/data/vxx.0/query/?q=select
              count() from Opportunity"}]}'
          headers:
              Request-Headers:
                  - Elided
      response:
          status:
              code: 200
              message: OK
          headers:
              Content-Type:
                  - application/json;charset=UTF-8
              Others: Elided
          body:
              string:
                  "{\n  \"compositeResponse\" : [ {\n    \"body\" : {\n      \"totalSize\"\
                  \ : 17,\n      \"done\" : true,\n      \"records\" : [ ]\n    },\n    \"httpHeaders\"\
                  \ : { },\n    \"httpStatusCode\" : 200,\n    \"referenceId\" : \"refAccount\"\
                  \n  }, {\n    \"body\" : {\n      \"totalSize\" : 0,\n      \"done\" : true,\n\
                  \      \"records\" : [ ]\n    },\n    \"httpHeaders\" : { },\n    \"httpStatusCode\"\
                  \ : 200,\n    \"referenceId\" : \"refOpportunity\"\n  } ]\n}"
