**/*$py.class
**/*.DS_Store
**/*.cover
**/*.crt
**/*.css.map
**/*.dump
**/*.egg
**/*.egg-info/
**/*.js.map
**/*.key
**/*.log
**/*.manifest
**/*.md
**/*.mo
**/*.orig
**/*.pot
**/*.py[cod]
**/*.sage.py
**/*.spec
**/*.sql
**/*.swo
**/*.swp
**/*~
**/Dockerfile
.Python
.cache
.circleci/
.coverage
.coverage.*
.devcontainer/
.dockerignore
.eggs/
.hypothesis/
.idea/
.installed.cfg
.livereload
.mypy_cache/
.nvmrc
.nyc_output/
.pytest_cache/
.python-version
.ropeproject
.spyderproject
.spyproject
.tox/
.venv
.vscode/
ENV/
__pycache__/
build/
celerybeat-schedule
coverage.xml
coverage/
derrick
develop-eggs/
dist/
docker-compose.yml
docs/_build/
downloads/
dump.rdb
eggs/
env.example
env/
heroku.yml
htmlcov/
jscache/
lib64/
node_modules/
nosetests.xml
npm-debug.log
parts/
pip-delete-this-directory.txt
pip-log.txt
postgres/
sdist/
staticfiles/
var/
venv/
wheels/
yarn-error.log
sfdx/