*.py[cod]
.*.swp
.*.swo
venv/
.DS_Store
cli/help.txt
cli/help.md
cli/help_clean.md
.swp
pybuild
cumulusci.egg-info
build/
dist/
docs/api/
docs/_build/
docs/tasks.rst
docs/flows.rst
.eggs/
.idea/
.tox/
tags
.vscode/
.cache/
.coverage
.python-version
*-screenshot-*.png
*.webm
playwright-log.txt
log.html
report.html
output.xml
geckodriver*.log
**/.sfdx
htmlcov/
.pytest_cache/
pip-wheel-metadata
.mypy_cache/
/docs/_build
*~
.cci
results_junit.xml
test_results.json
pabot_results/
.pabotsuitenames
large_cassettes/
github_release_notes.html
tmp