default_language_version:
    python: python3
repos:
    - repo: https://github.com/ambv/black
      rev: 21.5b1
      hooks:
          - id: black
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.0.0
      hooks:
          - id: check-merge-conflict
          - id: flake8
    - repo: https://github.com/Lucas-C/pre-commit-hooks-markup
      rev: v1.0.0
      hooks:
          - id: rst-linter
            exclude: "docs"
    - repo: https://github.com/pycqa/isort
      rev: 5.9.3
      hooks:
          - id: isort
            args: ["--profile", "black", "--filter-files"]
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 2.3.2
      hooks:
          - id: prettier
