default_language_version:
    python: python3
repos:
    - repo: https://github.com/ambv/black
      rev: 22.3.0
      hooks:
          - id: black
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.0.0
      hooks:
          - id: check-merge-conflict
          - id: flake8
          - id: debug-statements
            exclude: "cumulusci/(utils/logging|cli/cci|tasks/robotframework/debugger/ui|cli/task|robotframework/utils).py"
    - repo: https://github.com/Lucas-C/pre-commit-hooks-markup
      rev: v1.0.1
      hooks:
          - id: rst-linter
            exclude: "docs"
    - repo: https://github.com/pycqa/isort
      rev: 5.10.1
      hooks:
          - id: isort
            args: ["--profile", "black", "--filter-files"]
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.5.1
      hooks:
          - id: prettier
