
include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements/prod.txt
include requirements/dev.txt

recursive-include src *.* dot-gitignore

prune **/__pycache__
global-exclude *.py[cod]
