-r requirements.txt
-e .
black==19.10b0
coverage==5.1
coveralls==2.0.0
flake8==3.8.3
pre-commit==2.5.1
pytest==5.4.3
pytest-vcr==1.0.2
responses==0.10.15
Sphinx==3.1.1
testfixtures==6.14.1
tox==3.15.2
twine==3.1.1
typeguard==2.9.1
vcrpy==4.0.2
wheel==0.34.2
