-r requirements.txt
-e .
black==19.10b0
bump2version==1.0.0
coverage==5.0.3
coveralls==1.10.0
flake8==3.7.9
pre-commit==2.0.1
pytest==5.3.5
pytest-cov==2.8.1
responses==0.10.9
Sphinx==2.3.1
testfixtures==6.11.0
tox==3.14.3
twine==3.1.1
typeguard==2.7.1
watchdog==0.10.1
wheel==0.34.2
