click==7.0
coloredlogs==10.0
cryptography==2.3.1
docutils==0.14
future==0.16.0
github3.py==1.2.0
HiYaPyCo==0.4.12
lxml==4.2.5
plaintable==0.1.1
pytz==2018.5
PyYAML==3.13
raven==6.9.0
requests[security]==2.19.1
robotframework==3.0.4
robotframework-seleniumlibrary==3.2.0
rst2ansi==0.1.5
salesforce-bulk==2.1.0
sarge==0.1.5.post0
selenium==3.14.0
simple-salesforce==0.74.2
SQLAlchemy==1.2.11
unicodecsv==0.14.1
xmltodict==0.11.0
