interactions:
    - request:
          body:
              '{"compositeRequest": [{"method": "GET", "url": "/services/data/v48.0/sobjects/Account/describe",
              "referenceId": "refAccount", "httpHeaders": {"If-Modified-Since": "Sat, 1 Jan
              2000 00:00:01 GMT"}}, {"method": "GET", "url": "/services/data/v48.0/sobjects/Contact/describe",
              "referenceId": "refContact", "httpHeaders": {"If-Modified-Since": "Sat, 1 Jan
              2000 00:00:01 GMT"}}]}, {"method": "GET", "url": "/services/data/v48.0/sobjects/PermissionSet/describe",
              "referenceId": "refPermissionSet", "httpHeaders": {"If-Modified-Since": "Sat, 1 Jan
              2000 00:00:01 GMT"}}]}'
          headers:
              Request-Headers:
                  - Elided
          method: POST
          uri: https://orgname.my.salesforce.com/services/data/v49.0/composite
      response:
          body:
              string:
                  '{"compositeResponse": [{"body": {"urls": {"a":"b"}, "actionOverrides": [], "activateable":
                  false, "compactLayoutable": true, "createable": true, "custom": false, "customSetting":
                  false, "deepCloneable": false, "defaultImplementation": null, "deletable":
                  true, "deprecatedAndHidden": false, "extendedBy": null, "extendsInterfaces":
                  null, "feedEnabled": true, "fields": [{"aggregatable": true, "aiPredictionField":
                  false, "autoNumber": false, "byteLength": 18, "calculated": false, "calculatedFormula":
                  null, "cascadeDelete": false, "caseSensitive": false, "compoundFieldName":
                  null, "controllerName": null, "createable": false, "custom": false, "defaultValue":
                  null, "defaultValueFormula": null, "defaultedOnCreate": true, "dependentPicklist":
                  false, "deprecatedAndHidden": false, "digits": 0, "displayLocationInDecimal":
                  false, "encrypted": false, "externalId": false, "extraTypeInfo": null, "filterable":
                  true, "filteredLookupInfo": null, "formulaTreatNullNumberAsZero": false, "groupable":
                  true, "highScaleNumber": false, "htmlFormatted": false, "idLookup": true,
                  "inlineHelpText": null, "label": "Account ID", "length": 18, "mask": null,
                  "maskType": null, "name": "Id", "nameField": false, "namePointing": false,
                  "nillable": false, "permissionable": false, "picklistValues": [], "polymorphicForeignKey":
                  false, "precision": 0, "queryByDistance": false, "referenceTargetField": null,
                  "referenceTo": [], "relationshipName": null, "relationshipOrder": null, "restrictedDelete":
                  false, "restrictedPicklist": false, "scale": 0, "searchPrefilterable": false,
                  "soapType": "tns:ID", "sortable": true, "type": "id", "unique": false, "updateable":
                  false, "writeRequiresMasterRead": false}], "hasSubtypes": false, "implementedBy":
                  null, "implementsInterfaces": null, "isInterface": false, "isSubtype": false,
                  "keyPrefix": "001", "label": "Account", "labelPlural": "Accounts", "layoutable":
                  true, "listviewable": null, "lookupLayoutable": null, "mergeable": true, "mruEnabled":
                  true, "name": "Account", "namedLayoutInfos": [], "networkScopeFieldName":
                  null, "queryable": true, "replicateable": true, "retrieveable": true, "searchLayoutable":
                  true, "searchable": true, "sobjectDescribeOption": "FULL", "triggerable":
                  true, "undeletable": true, "updateable": true}, "httpHeaders": {"ETag": "\"baf7f695\"",
                  "Last-Modified": "Fri, 14 Aug 2020 20:53:02 GMT"}, "httpStatusCode": 200,
                  "referenceId": "refAccount"}, {"body": {"actionOverrides": [], "activateable":
                  false, "compactLayoutable": true, "createable": true, "custom": false, "customSetting":
                  false, "deepCloneable": false, "defaultImplementation": null, "deletable":
                  true, "deprecatedAndHidden": false, "extendedBy": null, "extendsInterfaces":
                  null, "feedEnabled": true, "fields": [{"aggregatable": true, "aiPredictionField":
   [...]
    - request:
          body:
              '{"compositeRequest": [{"method": "GET", "url": "/services/data/v48.0/sobjects/Opportunity/describe",
              "referenceId": "refOpportunity", "httpHeaders": {"If-Modified-Since": "Sat,
              1 Jan 2000 00:00:01 GMT"}}, {"method": "GET", "url": "/services/data/v48.0/sobjects/Campaign/describe",
              "referenceId": "refCampaign", "httpHeaders": {"If-Modified-Since": "Sat, 1 Jan
              2000 00:00:01 GMT"}}]}'
          head[...]
