# Salesforce / SFDX / CCI
.cci
.sfdx
/src.orig
{% if source_format == "sfdx" %}
/src
{% endif %}
{% if source_format != "sfdx" %}
/force-app
{% endif %}

# Python
*.pyc
__pycache__

# Robot Framework results
robot/{{ project_name }}/results/

# Editors
*.sublime-project
*.sublime-workspace
.vscode
.idea
.project
.settings

# Misc
.DS_Store

