interactions:
- request:
    body: '{"compositeRequest": [{"referenceId": "CCI__RefId__0__", "method": "GET",
      "url": "/services/data/v49.0/query?q=SELECT Id FROM Account LIMIT 1"}, {"referenceId":
      "CCI__RefId__1__", "method": "GET", "url": "/services/data/v49.0/query?q=SELECT
      Name FROM Account LIMIT 1"}, {"referenceId": "CCI__RefId__2__", "method": "GET",
      "url": "/services/data/v49.0/query?q=SELECT Id FROM Account LIMIT 1"}, {"referenceId":
      "CCI__RefId__3__", "method": "GET", "url": "/services/data/v49.0/query?q=SELECT
      Name FROM Account LIMIT 1"}]}'
    headers:
      Request-Headers:
      - Elided
    method: POST
    uri: https://orgname.salesforce.com/services/data/v49.0/composite
  response:
    body:
      string: "{\n  \"compositeResponse\" : [ {\n    \"body\" : {\n      \"totalSize\"
        : 1,\n      \"done\" : true,\n      \"records\" : [ {\n        \"attributes\"
        : {\n          \"type\" : \"Account\",\n          \"url\" : \"/services/data/v49.0/sobjects/Account/0013B00000ddh3PQAQ\"\n
        \       },\n        \"Id\" : \"0013B00000ddh3PQAQ\"\n      } ]\n    },\n    \"httpHeaders\"
        : { },\n    \"httpStatusCode\" : 200,\n    \"referenceId\" : \"CCI__RefId__0__\"\n
        \ }, {\n    \"body\" : {\n      \"totalSize\" : 1,\n      \"done\" : true,\n
        \     \"records\" : [ {\n        \"attributes\" : {\n          \"type\" :
        \"Account\",\n          \"url\" : \"/services/data/v49.0/sobjects/Account/0013B00000ddh7qQAA\"\n
        \       },\n        \"Name\" : \"Elizabeth Foster\"\n      } ]\n    },\n    \"httpHeaders\"
        : { },\n    \"httpStatusCode\" : 200,\n    \"referenceId\" : \"CCI__RefId__1__\"\n
        \ }, {\n    \"body\" : {\n      \"totalSize\" : 1,\n      \"done\" : true,\n
        \     \"records\" : [ {\n        \"attributes\" : {\n          \"type\" :
        \"Account\",\n          \"url\" : \"/services/data/v49.0/sobjects/Account/0013B00000ddh3PQAQ\"\n
        \       },\n        \"Id\" : \"0013B00000ddh3PQAQ\"\n      } ]\n    },\n    \"httpHeaders\"
        : { },\n    \"httpStatusCode\" : 200,\n    \"referenceId\" : \"CCI__RefId__2__\"\n
        \ }, {\n    \"body\" : {\n      \"totalSize\" : 1,\n      \"done\" : true,\n
        \     \"records\" : [ {\n        \"attributes\" : {\n          \"type\" :
        \"Account\",\n          \"url\" : \"/services/data/v49.0/sobjects/Account/0013B00000ddh7qQAA\"\n
        \       },\n        \"Name\" : \"Elizabeth Foster\"\n      } ]\n    },\n    \"httpHeaders\"
        : { },\n    \"httpStatusCode\" : 200,\n    \"referenceId\" : \"CCI__RefId__3__\"\n
        \ } ]\n}"
    headers:
      Response-Headers: Elided
    status:
      code: 200
      message: OK
version: 1
