interactions:
- request:
    body: '{"Name": "Smith Corp."}'
    headers:
      Request-Headers:
      - Elided
    method: POST
    uri: https://orgname.my.salesforce.com/services/data/v50.0/sobjects/Account/
  response:
    body:
      string: "{\n  \"id\" : \"0011D00000o9pgJQAQ\",\n  \"success\" : true,\n  \"errors\"
        : [ ]\n}"
    headers:
      Response-Headers: Elided
    status:
      code: 201
      message: Created
- request:
    body: '{"compositeRequest": [{"referenceId": "CCI__RefId__0__", "method": "GET",
      "url": "/services/data/v50.0/query?q=SELECT Id FROM Account LIMIT 1"}, {"referenceId":
      "CCI__RefId__1__", "method": "GET", "url": "/services/data/v50.0/query?q=SELECT
      Name FROM Account LIMIT 1"}, {"referenceId": "CCI__RefId__2__", "method": "GET",
      "url": "/services/data/v50.0/query?q=SELECT Id FROM Account LIMIT 1"}, {"referenceId":
      "CCI__RefId__3__", "method": "GET", "url": "/services/data/v50.0/query?q=SELECT
      Name FROM Account LIMIT 1"}]}'
    headers:
      Request-Headers:
      - Elided
    method: POST
    uri: https://orgname.my.salesforce.com/services/data/v50.0/composite
  response:
    body:
      string: "{\n  \"compositeResponse\" : [ {\n    \"body\" : {\n      \"totalSize\"
        : 1,\n      \"done\" : true,\n      \"records\" : [ {\n        \"attributes\"
        : {\n          \"type\" : \"Account\",\n          \"url\" : \"/services/data/v50.0/sobjects/Account/0011D00000o9pgJQAQ\"\n
        \       },\n        \"Id\" : \"0011D00000o9pgJQAQ\"\n      } ]\n    },\n    \"httpHeaders\"
        : { },\n    \"httpStatusCode\" : 200,\n    \"referenceId\" : \"CCI__RefId__0__\"\n
        \ }, {\n    \"body\" : {\n      \"totalSize\" : 1,\n      \"done\" : true,\n
        \     \"records\" : [ {\n        \"attributes\" : {\n          \"type\" :
        \"Account\",\n          \"url\" : \"/services/data/v50.0/sobjects/Account/0011D00000o9pgJQAQ\"\n
        \       },\n        \"Name\" : \"Smith Corp.\"\n      } ]\n    },\n    \"httpHeaders\"
        : { },\n    \"httpStatusCode\" : 200,\n    \"referenceId\" : \"CCI__RefId_[...]
[...]
