table {
    table-layout: fixed;
    width: 800px;
    border-collapse: separate;
    border-spacing: 0px;
    border-left: 3px solid #1798C1;
    border-right: 3px solid #1798C1;
    text-align: center;
    margin-top: 10px;
  }


  th,
  td {
    padding: 20px;
  }

  h2{
      margin-top: 25px;
  }

  h3{
      margin-top: 10px;
      margin-left: 20px;
  }

  h4{
      margin-left: 50px;
      margin-top: 10px;
  }

  body{
    margin-left: 10px;
    margin-bottom: 10px;
  }