interactions:
    - request:
          body: null
          headers:
              Request-Headers:
                  - Elided
          method: GET
          uri: https://orgname.my.salesforce.com/services/data/vxx.0/sobjects/Organization/00D0xORGID00000000
      response:
          body:
              string:
                  "{\n  \"attributes\" : {\n    \"type\" : \"Organization\",\n    \"url\"
                  : \"/services/data/vxx.0/sobjects/Organization/00D0xORGID00000000\"\n  },\n
                  \ \"Id\" : \"00D0xORGID00000000\",\n  \"Name\" : \"CumulusCI - Dev Workspace\",\n
                  \ \"Division\" : null,\n  \"Street\" : null,\n  \"City\" : null,\n  \"State\"
                  : null,\n  \"PostalCode\" : null,\n  \"Country\" : \"US\",\n  \"Latitude\"
                  : null,\n  \"Longitude\" : null,\n  \"GeocodeAccuracy\" : null,\n  \"Address\"
                  : {\n    \"city\" : null,\n    \"country\" : \"US\",\n    \"geocodeAccuracy\"
                  : null,\n    \"latitude\" : null,\n    \"longitude\" : null,\n    \"postalCode\"
                  : null,\n    \"state\" : null,\n    \"street\" : null\n  },\n  \"Phone\" :
                  null,\n  \"Fax\" : null,\n  \"PrimaryContact\" : \"User User\",\n  \"DefaultLocaleSidKey\"
                  : \"en_US\",\n  \"TimeZoneSidKey\" : \"America/Los_Angeles\",\n  \"LanguageLocaleKey\"
                  : \"en_US\",\n  \"ReceivesInfoEmails\" : true,\n  \"ReceivesAdminInfoEmails\"
                  : true,\n  \"PreferencesRequireOpportunityProducts\" : false,\n  \"PreferencesTransactionSecurityPolicy\"
                  : false,\n  \"PreferencesTerminateOldestSession\" : false,\n  \"PreferencesConsentManagementEnabled\"
                  : true,\n  \"PreferencesAutoSelectIndividualOnMerge\" : false,\n  \"PreferencesLightningLoginEnabled\"
                  : true,\n  \"PreferencesOnlyLLPermUserAllowed\" : false,\n  \"FiscalYearStartMonth\"
                  : 1,\n  \"UsesStartDateAsFiscalYearName\" : false,\n  \"DefaultAccountAccess\"
                  : \"Edit\",\n  \"DefaultContactAccess\" : \"ControlledByParent\",\n  \"DefaultOpportunityAccess\"
                  : \"Edit\",\n  \"DefaultLeadAccess\" : \"ReadEditTransfer\",\n  \"DefaultCaseAccess\"
                  : \"ReadEditTransfer\",\n  \"DefaultCalendarAccess\" : \"HideDetailsInsert\",\n
                  \ \"DefaultPricebookAccess\" : \"ReadSelect\",\n  \"DefaultCampaignAccess\"
                  : \"All\",\n  \"DelegatedAuthenticationServiceUrl\" : null,\n  \"SystemModstamp\"
                  : \"2022-04-19T20:07:41.000+0000\",\n  \"ComplianceBccEmail\" : null,\n  \"UiSkin\"
                  : \"Theme3\",\n  \"SignupCountryIsoCode\" : \"US\",\n  \"TrialExpirationDate\"
                  : \"2022-04-27T20:05:17.000+0000\",\n  \"NumKnowledgeService\" : 2,\n  \"OrganizationType\"
                  : \"Developer Edition\",\n  \"NamespacePrefix\" : null,\n  \"InstanceName\"
                  : \"CS420\",\n  \"IsSandbox\" : true,\n  \"WebToCaseDefaultOrigin\" : \"Web\",\n
                  \ \"MonthlyPageViewsUsed\" : 0,\n  \"MonthlyPageViewsEntitlement\" : 0,\n
                  \ \"IsReadOnly\" : false,\n  \"CreatedDate\" : \"2022-04-19T19:50:18.000+0000\",\n
                  \ \"CreatedById\" : \"0055500000AZDHyAAP\",\n  \"LastModifiedDate\" : \"2022-04-19T20:05:24.000+0000\",\n
                  \ \"LastModifiedById\" : \"0055500000AZDHyAAP\"\n}"
          headers:
              Content-Type:
                  - application/json;charset=UTF-8
              Others: Elided
          status:
              code: 200
              message: OK
[...]
    - request:
          body: null
          headers:
              Request-Headers:
                  - Elided
          method: GET
          uri: https://orgname.my.salesforce.com/services/data/vxx.0/sobjects
      response:
          body:
              string:
                  "{\n  \"encoding\" : \"UTF-8\",\n  \"maxBatchSize\" : 200,\n  \"sobjects\"
                  : [ {\n    \"activateable\" : false,\n    \"associateEntityType\" : null,\n
                  \   \"associateParentEntity\" : null,\n    \"createable\" : false,\n    \"custom\"
                  : false,\n    \"customSetting\" : false,\n    \"deepCloneable\" : false,\n
                  \   \"deletable\" : true,\n    \"deprecatedAndHidden\" : false,\n    \"feedEnabled\"
                  : false,\n    \"hasSubtypes\" : false,\n    \"isInterface\" : false,\n    \"isSubtype\"
                  : false,\n    \"keyPrefix\" : \"0Pp\",\n    \"label\" : \"AI Application\",\n
                  \   \"labelPlural\" : \"AI Applications\",\n    \"layoutable\" : false,\n
                  \   \"mergeable\" : false,\n    \"mruEnabled\" : false,\n    \"name\" : \"AIApplication\",\n
                  \   \"queryable\" : true,\n    \"replicateable\" : false,\n    \"retrieveable\"
                  : true,\n    \"searchable\" : false,\n    \"triggerable\" : false,\n    \"undeletable\"
                  : false,\n    \"updateable\" : false,\n    \"urls\" : {\n      \"rowTemplate\"
                  : \"/services/data/vxx.0/sobjects/AIApplication/{ID}\",\n      \"describe\"
                  : \"/services/data/vxx.0/sobjects/AIApplication/describe\",\n      \"sobject\"
                  : \"/services/data/vxx.0/sobjects/AIApplication\"\n    }\n  }, {\n    \"activateable\"
                  : false,\n    \"associateEntityType\" : null,\n    \"associateParentEntity\"
                  : null,\n    \"createable\" : false,\n    \"custom\" : false,\n    \"customSetting\"
                  : false,\n    \"deepCloneable\" : false,\n    \"deletable\" : true,\n    \"deprecatedAndHidden\"
                  : false,\n    \"feedEnabled\" : false,\n    \"hasSubtypes\" : false,\n    \"isInter[...]
