interactions:
- request:
    body: null
    headers:
      Request-Headers:
      - Elided
    method: GET
    uri: https://orgname.my.salesforce.com/services/data/vxx.0/sobjects/Organization/00DORGID
  response:
    body:
      string: "{\n  \"attributes\" : {\n    \"type\" : \"Organization\",\n    \"url\"
        : \"/services/data/vxx.0/sobjects/Organization/00DORGID\"\n  },\n  \"Id\"
        : \"00DORGID\",\n  \"Name\" : \"CumulusCI - Dev Workspace\",\n  \"Division\"
        : null,\n  \"Street\" : null,\n  \"City\" : null,\n  \"State\" : null,\n  \"PostalCode\"
        : null,\n  \"Country\" : \"US\",\n  \"Latitude\" : null,\n  \"Longitude\"
        : null,\n  \"GeocodeAccuracy\" : null,\n  \"Address\" : {\n    \"city\" :
        null,\n    \"country\" : \"US\",\n    \"geocodeAccuracy\" : null,\n    \"latitude\"
        : null,\n    \"longitude\" : null,\n    \"postalCode\" : null,\n    \"state\"
        : null,\n    \"street\" : null\n  },\n  \"Phone\" : null,\n  \"Fax\" : null,\n
        \ \"PrimaryContact\" : \"User User\",\n  \"DefaultLocaleSidKey\" : \"en_US\",\n
        \ \"TimeZoneSidKey\" : \"America/Los_Angeles\",\n  \"LanguageLocaleKey\" :
        \"en_US\",\n  \"ReceivesInfoEmails\" : true,\n  \"ReceivesAdminInfoEmails\"
        : true,\n  \"PreferencesRequireOpportunityProducts\" : false,\n  \"PreferencesTransactionSecurityPolicy\"
        : false,\n  \"PreferencesTerminateOldestSession\" : false,\n  \"PreferencesConsentManagementEnabled\"
        : true,\n  \"PreferencesAutoSelectIndividualOnMerge\" : false,\n  \"PreferencesLightningLoginEnabled\"
        : true,\n  \"PreferencesOnlyLLPermUserAllowed\" : false,\n  \"FiscalYearStartMonth\"
        : 1,\n  \"UsesStartDateAsFiscalYearName\" : false,\n  \"DefaultAccountAccess\"
        : \"Edit\",\n  \"DefaultContactAccess\" : \"ControlledByParent\",\n  \"DefaultOpportunityAccess\"
        : \"Edit\",\n  \"DefaultLeadAccess\" : \"ReadEditTransfer\",\n  \"DefaultCaseAccess\"
        : \"ReadEditTransfer\",\n  \"DefaultCalendarAccess\" : \"HideDetailsInsert\",\n
        \ \"DefaultPricebookAccess\" : \"ReadSelect\",\n  \"DefaultCampaignAccess\"
        : \"All\",\n  \"SystemModstamp\" : \"2021-01-01T01:02:01.000+0000\",\n  \"ComplianceBccEmail\"
        : null,\n  \"UiSkin\" : \"Theme3\",\n  \"SignupCountryIsoCode\" : \"US\",\n
        \ \"TrialExpirationDate\" : \"2021-01-01T01:02:01.000+0000\",\n  \"NumKnowledgeService\"
        : 2,\n  \"OrganizationType\" : \"Developer Edition\",\n  \"NamespacePrefix\"
        : null,\n  \"InstanceName\" : \"CS420\",\n  \"IsSandbox\" : true,\n  \"WebToCaseDefaultOrigin\"
        : \"Web\",\n  \"MonthlyPageViewsUsed\" : 0,\n  \"MonthlyPageViewsEntitlement\"
        : 0,\n  \"IsReadOnly\" : false,\n  \"CreatedDate\" : \"2021-01-01T01:02:01.000+0000\",\n
        \ \"CreatedById\" : \"005USERID\",\n  \"LastModifiedDate\" : \"2021-01-01T01:02:01.000+0000\",\n
        \ \"LastModifiedById\" : \"005USERID\"\n}"
    headers:
      Response-Headers: Elided
    status:
      code: 200
      message: OK
- request:
    body: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n
      \ <soap:Header>\n    <SessionHeader xmlns=\"http://soap.sforce.com/2006/04/metadata\">\n
      \     <sessionId>**Elided**</sessionId>\n    </SessionHeader>\n  </soap:Header>\n
      \ <soap:Body>\n    <retrieve xmlns=\"http://soap.sforce.com/2006/04/metadata\">\n
      \     <retrieveRequest>\n        <apiVersion>vxx.0</apiVersion>\n        <unpackaged>\n
      \         <types>\n            <members>*</members>\n            <name>InstalledPackage</name>\n
      \         </types>\n          <version>vxx.0</version>\n        </unpackaged>\n
      \     </retrieveRequest>\n    </retrieve>\n  </soap:Body>\n</soap:Envelope>"
    headers:
      Request-Headers:
      - Elided
    method: POST
    uri: https://orgname.my.salesforce.com/services/Soap/m/vxx.0/00DORGID
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns="http://soap.sforce.com/2006/04/metadata"><soapenv:Body><retrieveResponse><result><done>false</done><id>0ANID</id><state>Queued</state></result></retrieveResponse></soapenv:Body></soapenv:Envelope>
    headers:
      Response-Headers: Elided
    status:
      code: 200
      message: OK
- request:
    body: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n
      \ <soap:Header>\n    <SessionHeader xmlns=\"http://soap.sforce.com/2006/04/metadata\">\n
      \     <sessionId>**Elided**</sessionId>\n    </SessionHeader>\n  </soap:Header>\n
      \ <soap:Body>\n    <checkStatus xmlns=\"http://soap.sforce.com/2006/04/metadata\">\n
      \     <asyncProcessId>0ANAPPID</asyncProcessId>\n    </checkStatus>\n  </soap:Body>\n</soap:Envelope>"
    headers:
      Request-Headers:
      - Elided
    method: POST
    uri: https://orgname.my.salesforce.com/services/Soap/m/vxx.0/00DORGID
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns="http://soap.sforce.com/2006/04/metadata"><soapenv:Body><checkStatusResponse><result><done>true</done><id>0ANID</id><state>Completed</state></result></checkStatusResponse></soapenv:Body></soapenv:Envelope>
    headers:
      Response-Headers: Elided
    status:
      code: 200
      message: OK
- request:
    body: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n
      \ <soap:Header>\n    <SessionHeader xmlns=\"http://soap.sforce.com/2006/04/metadata\">\n
      \     <sessionId>**Elided**</sessionId>\n    </SessionHeader>\n  </soap:Header>\n
      \ <soap:Body>\n    <checkRetrieveStatus xmlns=\"http://soap.sforce.com/2006/04/metadata\">\n
      \     <asyncProcessId>0ANAPPID</asyncProcessId>\n    </checkRetrieveStatus>\n
      \ </soap:Body>\n</soap:Envelope>"
    headers:
      Request-Headers:
      - Elided
    method: POST
    uri: https://orgname.my.salesforce.com/services/Soap/m/vxx.0/00DORGID
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns="http://soap.sforce.com/2006/04/metadata"><soapenv:Body><checkRetrieveStatusResponse><result><done>true</done><fileProperties><createdById>00554000008s2LrAAI</createdById><createdByName>User
        User</createdByName><createdDate>2021-01-03T01:11:11.420Z</createdDate><fileName>unpackaged/package.xml</fileName><fullName>unpackaged/package.xml</fullName><id></id><lastModifiedById>005USERID</lastModifiedById><lastModifiedByName>User
        User</lastModifiedByName><lastModifiedDate>2021-01-03T01:11:11.420Z</lastModifiedDate><manageableState>unmanaged</manageableState><type>Package</type></fileProperties><id>0ANID</id><status>Succeeded</status><success>true</success><zipFile>UEsDBBQACAgIAHwtA1MAAAAAAAAAAAAAAAAWAAAAdW5wYWNrYWdlZC9wYWNrYWdlLnhtbE1OywrCMBC85ytCjoLdWFREtulN8OZBP2BNVy02SWmC6N9b+kD3NDO7OzNYvl0jX9zFOvhCrTKtJHsbqtrfC3U5H5Y7VRqBJ7JPurPsr30s1COldg8QA7VZvIXOcmaDg1zrLeg1OE5UUSJlhOwH06flOOKBO3bXPtIsEGb4W3pybI4+JmoarqZghEEe7eDPD6fuZpNnGmFmAmH6NOILUEsHCLM3inCeAAAA5AAAAFBLAQIUABQACAgIAHwtA1OzN4pwngAAAOQAAAAWAAAAAAAAAAAAAAAAAAAAAAB1bnBhY2thZ2VkL3BhY2thZ2UueG1sUEsFBgAAAAABAAEARAAAAOIAAAAAAA==</zipFile></result></checkRetrieveStatusResponse></soapenv:Body></soapenv:Envelope>
    headers:
      Response-Headers: Elided
    status:
      code: 200
      message: OK
version: 1
