interactions:
- request:
    body: null
    headers:
      Request-Headers:
      - Elided
    method: GET
    uri: https://orgname.salesforce.com/services/data/v48.0/sobjects/Organization/ORGID
  response:
    body:
      string: "{\n  \"attributes\" : {\n    \"type\" : \"Organization\",\n    \"url\"
        : \"/services/data/v48.0/sobjects/Organization/00D3B000000F7hhUAC\"\n  },\n
        \ \"Id\" : \"00D3B000000F7hhUAC\",\n  \"Name\" : \"CumulusCI - Dev Workspace\",\n
        \ \"Division\" : null,\n  \"Street\" : null,\n  \"City\" : null,\n  \"State\"
        : null,\n  \"PostalCode\" : null,\n  \"Country\" : \"US\",\n  \"Latitude\"
        : null,\n  \"Longitude\" : null,\n  \"GeocodeAccuracy\" : null,\n  \"Address\"
        : {\n    \"city\" : null,\n    \"country\" : \"US\",\n    \"geocodeAccuracy\"
        : null,\n    \"latitude\" : null,\n    \"longitude\" : null,\n    \"postalCode\"
        : null,\n    \"state\" : null,\n    \"street\" : null\n  },\n  \"Phone\" :
        null,\n  \"Fax\" : null,\n  \"PrimaryContact\" : \"User User\",\n  \"DefaultLocaleSidKey\"
        : \"en_US\",\n  \"TimeZoneSidKey\" : \"America/Los_Angeles\",\n  \"LanguageLocaleKey\"
        : \"en_US\",\n  \"ReceivesInfoEmails\" : true,\n  \"ReceivesAdminInfoEmails\"
        : true,\n  \"PreferencesRequireOpportunityProducts\" : false,\n  \"PreferencesTransactionSecurityPolicy\"
        : false,\n  \"PreferencesTerminateOldestSession\" : false,\n  \"PreferencesConsentManagementEnabled\"
        : true,\n  \"PreferencesIndividualAutoCreateEnabled\" : false,\n  \"PreferencesAutoSelectIndividualOnMerge\"
        : false,\n  \"PreferencesLightningLoginEnabled\" : true,\n  \"PreferencesOnlyLLPermUserAllowed\"
        : false,\n  \"FiscalYearStartMonth\" : 1,\n  \"UsesStartDateAsFiscalYearName\"
        : false,\n  \"DefaultAccountAccess\" : \"Edit\",\n  \"DefaultContactAccess\"
        : \"ControlledByParent\",\n  \"DefaultOpportunityAccess\" : \"Edit\",\n  \"DefaultLeadAccess\"
        : \"ReadEditTransfer\",\n  \"DefaultCaseAccess\" : \"ReadEditTransfer\",\n
        \ \"DefaultCalendarAccess\" : \"HideDetailsInsert\",\n  \"DefaultPricebookAccess\"
        : \"ReadSelect\",\n  \"DefaultCampaignAccess\" : \"All\",\n  \"SystemModstamp\"
        : \"2020-06-15T18:17:01.000+0000\",\n  \"ComplianceBccEmail\" : null,\n  \"UiSkin\"
        : \"Theme3\",\n  \"SignupCountryIsoCode\" : \"US\",\n  \"TrialExpirationDate\"
        : \"2020-06-23T18:16:50.000+0000\",\n  \"NumKnowledgeService\" : 2,\n  \"OrganizationType\"
        : \"Developer Edition\",\n  \"NamespacePrefix\" : null,\n  \"InstanceName\"
        : \"CS50\",\n  \"IsSandbox\" : true,\n  \"WebToCaseDefaultOrigin\" : \"Web\",\n
        \ \"MonthlyPageViewsUsed\" : 0,\n  \"MonthlyPageViewsEntitlement\" : 0,\n
        \ \"IsReadOnly\" : false,\n  \"CreatedDate\" : \"2020-06-15T17:39:16.000+0000\",\n
        \ \"CreatedById\" : \"0053B00000339a1QAA\",\n  \"LastModifiedDate\" : \"2020-06-15T18:16:57.000+0000\",\n
        \ \"LastModifiedById\" : \"0053B00000339a1QAA\"\n}"
    headers:
      Response-Headers: Elided
    status:
      code: 200
      message: OK
- request:
    body: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n
      \ <soap:Header>\n    <SessionHeader xmlns=\"http://soap.sforce.com/2006/04/metadata\">\n
      \     <sessionId>**Elided**</sessionId>\n    </SessionHeader>\n  </soap:Header>\n
      \ <soap:Body>\n    <retrieve xmlns=\"http://soap.sforce.com/2006/04/metadata\">\n
      \     <retrieveRequest>\n        <apiVersion>48.0</apiVersion>\n        <unpackaged>\n
      \         <types>\n            <members>*</members>\n            <name>InstalledPackage</name>\n
      \         </types>\n          <version>48.0</version>\n        </unpackaged>\n
      \     </retrieveRequest>\n    </retrieve>\n  </soap:Body>\n</soap:Envelope>"
    headers:
      Request-Headers:
      - Elided
    method: POST
    uri: https://podname.salesforce.com//services/Soap/m/48.0/00D3B000000F7hh
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns="http://soap.sforce.com/2006/04/metadata"><soapenv:Body><retrieveResponse><result><done>false</done><id>09S3B000001XA4pUAG</id><state>Queued</state></result></retrieveResponse></soapenv:Body></soapenv:Envelope>
    headers:
      Response-Headers: Elided
    status:
      code: 200
      message: OK
- request:
    body: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n
      \ <soap:Header>\n    <SessionHeader xmlns=\"http://soap.sforce.com/2006/04/metadata\">\n
      \     <sessionId>**Elided**</sessionId>\n    </SessionHeader>\n  </soap:Header>\n
      \ <soap:Body>\n    <checkStatus xmlns=\"http://soap.sforce.com/2006/04/metadata\">\n
      \     <asyncProcessId>09S3B000001XA4pUAG</asyncProcessId>\n    </checkStatus>\n
      \ </soap:Body>\n</soap:Envelope>"
    headers:
      Request-Headers:
      - Elided
    method: POST
    uri: https://podname.salesforce.com//services/Soap/m/48.0/00D3B000000F7hh
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns="http://soap.sforce.com/2006/04/metadata"><soapenv:Body><checkStatusResponse><result><done>true</done><id>09S3B000001XA4pUAG</id><state>Completed</state></result></checkStatusResponse></soapenv:Body></soapenv:Envelope>
    headers:
      Response-Headers: Elided
    status:
      code: 200
      message: OK
- request:
    body: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n
      \ <soap:Header>\n    <SessionHeader xmlns=\"http://soap.sforce.com/2006/04/metadata\">\n
      \     <sessionId>**Elided**</sessionId>\n    </SessionHeader>\n  </soap:Header>\n
      \ <soap:Body>\n    <checkRetrieveStatus xmlns=\"http://soap.sforce.com/2006/04/metadata\">\n
      \     <asyncProcessId>09S3B000001XA4pUAG</asyncProcessId>\n    </checkRetrieveStatus>\n
      \ </soap:Body>\n</soap:Envelope>"
    headers:
      Request-Headers:
      - Elided
    method: POST
    uri: https://podname.salesforce.com//services/Soap/m/48.0/00D3B000000F7hh
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns="http://soap.sforce.com/2006/04/metadata"><soapenv:Body><checkRetrieveStatusResponse><result><done>true</done><fileProperties><createdById>0053B00000339a1QAA</createdById><createdByName>User
        User</createdByName><createdDate>2020-06-15T23:01:28.883Z</createdDate><fileName>unpackaged/package.xml</fileName><fullName>unpackaged/package.xml</fullName><id></id><lastModifiedById>0053B00000339a1QAA</lastModifiedById><lastModifiedByName>User
        User</lastModifiedByName><lastModifiedDate>2020-06-15T23:01:28.883Z</lastModifiedDate><manageableState>unmanaged</manageableState><type>Package</type></fileProperties><id>09S3B000001XA4pUAG</id><status>Succeeded</status><success>true</success><zipFile>UEsDBBQACAgIAC64z1AAAAAAAAAAAAAAAAAWAAAAdW5wYWNrYWdlZC9wYWNrYWdlLnhtbE1OywrCMBC85ytCjoLZKEWKbNOb4M2DfsDarlpsktIE0b+39IHuaWZ2d2awfLtWvriPTfCF2mijJPsq1I2/F+pyPqxzVVqBJ6qedGc5XPtYqEdK3R4gBup0vIW+Yl0FB1tjdmAycJyopkTKCjkMpk/HccIjd+yuQ6RdISzwt/Tk2B59TNS2XM/BCKM82cGfH87dbZZrg7AwgTB/WvEFUEsHCM4k+iueAAAA5AAAAFBLAQIUABQACAgIAC64z1DOJPorngAAAOQAAAAWAAAAAAAAAAAAAAAAAAAAAAB1bnBhY2thZ2VkL3BhY2thZ2UueG1sUEsFBgAAAAABAAEARAAAAOIAAAAAAA==</zipFile></result></checkRetrieveStatusResponse></soapenv:Body></soapenv:Envelope>
    headers:
      Response-Headers: Elided
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Request-Headers:
      - Elided
    method: GET
    uri: https://orgname.salesforce.com/services/data/v48.0/sobjects/Organization/00D0R000000FIDc
  response:
    body:
      string: "{\n  \"attributes\" : {\n    \"type\" : \"Organization\",\n    \"url\"
        : \"/services/data/v48.0/sobjects/Organization/00D0R000000FIDcUAO\"\n  },\n
        \ \"Id\" : \"00D0R000000FIDcUAO\",\n  \"Name\" : \"CumulusCI - Dev Workspace\",\n
        \ \"Division\" : nu[...]
- request:
    body: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n
      \ <soap:Header>\n    <SessionHeader xmlns=\"http://soap.sforce.com/2006/04/metadata\">\n
      \     <sessionId>**Elided**</sessionId>\n    </SessionHeader>\n  </soap:Header>\n
      \ <soap:Body>\n    <retrieve xmlns=\"http://soap.sforce.com/2006/04/metadata\">\n
      \     <retrieveRequest>\n        <apiVersion>48.0</apiVersion>\n        <unpackaged>\n
      \         <types>\n            <members>*</members>\n            <name>InstalledPackage</name>\n
      \         </types>\n          <version>48.0</version>\n        </unpackaged>\n
      \     </retrieveRequest>\n    </retrieve>\n  </soap:Body>\n</soap:Envelope>"
    headers:
      Request-Headers:
      - Elided
    method: POST
    uri: https://podname.salesforce.com//services/Soap/m/48.0/00D0R000000FIDc
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns="http://soap.sforce.com/2006/04/metadata"><soapenv:Body><retrieveResponse><result><done>false</done><id>09S0R000000mmG6UAI</id><state>Queued</state></result></retrieveResponse></soapenv:Body></soapenv:Envelope>
    headers:
      Response-Headers: Elided
    status:
      code: 200
      message: OK
[...]
