name: Feature Test

on:
    workflow_dispatch:
    pull_request:
        types: [opened, synchronize, reopened] # Default
    push:
        branches:
            - main

env:
    COVERALLS_PARALLEL: true
    COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}

jobs:
    lint:
        name: Lint
        if: ${{ github.event_name == 'pull_request' }}
        uses: SFDO-Tooling/.github/.github/workflows/pre-commit.yml@main
    docs:
        name: Build Docs
        if: ${{ github.event_name == 'pull_request' }}
        runs-on: ubuntu-latest
        steps:
            - name: "Checkout"
              uses: actions/checkout@v2
              with:
                  fetch-depth: 1
            - name: Set up Python 3.8
              id: py
              uses: actions/setup-python@v2
              with:
                  python-version: 3.8
                  cache: pip
                  cache-dependency-path: "requirements/*.txt"
            - name: Install dependencies
              run: make dev-install
            - name: Build Docs
              run: make docs

    unit_tests:
        name: "Unit tests: ${{ matrix.os }}-${{ matrix.python-version }}"
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [macos-latest, ubuntu-latest, windows-latest]
                python-version: ["3.8", "3.9", "3.10"]
        steps:
            - uses: actions/checkout@v2
            - name: Set up Python
              uses: actions/setup-python@v2
              with:
                  python-version: "${{ matrix.python-version }}"
                  cache: pip
                  cache-dependency-path: "requirements/*.txt"
            - name: Install
              run: make dev-install
            - run: |
                  pytest --cov-report= --cov=cumulusci
                  coveralls

    robot_api:
        name: "Robot: No browser"
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Set up Python 3.8
              uses: actions/setup-python@v2
              with:
                  python-version: 3.8
                  cache: pip
                  cache-dependency-path: "requirements/*.txt"
            - name: Install Python dependencies
              run: make dev-install
            - name: Install sfdx
              run: |
                  mkdir sfdx
                  wget -qO- https://developer.salesforce.com/media/salesforce-cli/sfdx/channels/stable/sfdx-linux-x64.tar.xz | tar xJ -C sfdx --strip-components 1
                  echo $(realpath sfdx/bin) >> $GITHUB_PATH
            - name: Authenticate Dev Hub
              run: |
                  sfdx plugins --core
                  echo $SFDX_HUB_KEY_BASE64 | base64 --decode > sfdx.key
                  sfdx auth:jwt:grant --clientid $SFDX_CLIENT_ID --jwtkeyfile sfdx.key --username $SFDX_HUB_USERNAME --setdefaultdevhubusername -a hub
              env:
                  SFDX_HUB_KEY_BASE64: ${{ secrets.SFDX_HUB_KEY_BASE64 }}
                  SFDX_CLIENT_ID: ${{ secrets.SFDX_CLIENT_ID }}
                  SFDX_HUB_USERNAME: ${{ secrets.SFDX_HUB_USERNAME }}
            - name: Run robot tests
              run: |
                  coverage run --append $(which cci) task run robot \
                    --org dev \
                    -o name "CumulusCI" \
                    -o suites cumulusci/robotframework/tests \
                    -o include no-browser
            - name: Delete scratch org
              if: always()
              run: |
                  cci org scratch_delete dev
            - name: Report coverage
              run: coveralls
            - name: Store robot results
              if: failure()
              uses: actions/upload-artifact@v1
              with:
                  name: robot
                  path: robot/CumulusCI/results

    robot_ui_chrome:
        name: "Robot: Chrome"
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Set up Python 3.8
              uses: actions/setup-python@v2
              with:
                  python-version: 3.8
                  cache: pip
                  cache-dependency-path: "requirements/*.txt"
            - name: Install Python dependencies
              run: make dev-install
            - name: Install sfdx
              run: |
                  mkdir sfdx
                  wget -qO- https://developer.salesforce.com/media/salesforce-cli/sfdx/channels/stable/sfdx-linux-x64.tar.xz | tar xJ -C sfdx --strip-components 1
                  echo $(realpath sfdx/bin) >> $GITHUB_PATH
            - name: Authenticate Dev Hub
              run: |
                  sfdx plugins --core
                  echo $SFDX_HUB_KEY_BASE64 | base64 --decode > sfdx.key
                  sfdx auth:jwt:grant --clientid $SFDX_CLIENT_ID --jwtkeyfile sfdx.key --username $SFDX_HUB_USERNAME --setdefaultdevhubusername -a hub
              env:
                  SFDX_HUB_KEY_BASE64: ${{ secrets.SFDX_HUB_KEY_BASE64 }}
                  SFDX_CLIENT_ID: ${{ secrets.SFDX_CLIENT_ID }}
                  SFDX_HUB_USERNAME: ${{ secrets.SFDX_HUB_USERNAME }}
            - name: Run robot tests
              run: |
                  coverage run --append $(which cci) task run robot \
                    --org dev \
                    -o suites cumulusci/robotframework/tests/salesforce \
                    -o exclude no-browser \
                    -o vars BROWSER:headlesschrome
            - name: Delete scratch org
              if: always()
              run: |
                  cci org scratch_delete dev
            - name: Report coverage
              run: coveralls
            - name: Store robot results
              if: failure()
              uses: actions/upload-artifact@v1
              with:
                  name: robot
                  path: robot/CumulusCI/results

    robot_ui_firefox:
        name: "Robot: Firefox"
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Set up Python 3.8
              uses: actions/setup-python@v2
              with:
                  python-version: 3.8
                  cache: pip
                  cache-dependency-path: "requirements/*.txt"
            - name: Install Python dependencies
              run: make dev-install
            - name: Install sfdx
              run: |
                  mkdir sfdx
                  wget -qO- https://developer.salesforce.com/media/salesforce-cli/sfdx/channels/stable/sfdx-linux-x64.tar.xz | tar xJ -C sfdx --strip-components 1
                  echo $(realpath sfdx/bin) >> $GITHUB_PATH
            - name: Authenticate Dev Hub
              run: |
                  sfdx plugins --core
                  echo $SFDX_HUB_KEY_BASE64 | base64 --decode > sfdx.key
                  sfdx auth:jwt:grant --clientid $SFDX_CLIENT_ID --jwtkeyfile sfdx.key --username $SFDX_HUB_USERNAME --setdefaultdevhubusername -a hub
              env:
                  SFDX_HUB_KEY_BASE64: ${{ secrets.SFDX_HUB_KEY_BASE64 }}
                  SFDX_CLIENT_ID: ${{ secrets.SFDX_CLIENT_ID }}
                  SFDX_HUB_USERNAME: ${{ secrets.SFDX_HUB_USERNAME }}
            - name: Run robot tests
              run: |
                  coverage run --append $(which cci) task run robot \
                    --org dev \
                    -o suites cumulusci/robotframework/tests/salesforce \
                    -o exclude no-browser \
                    -o vars BROWSER:headlessfirefox
            - name: Delete scratch org
              if: always()
              run: |
                  cci org scratch_delete dev
            - name: Report coverage
              run: coveralls
            - name: Store robot results
              if: failure()
              uses: actions/upload-artifact@v1
              with:
                  name: robot
                  path: robot/CumulusCI/results

    robot_ui_prerelease:
        name: "Robot: Winter '22"
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Set up Python 3.8
              uses: actions/setup-python@v2
              with:
                  python-version: 3.8
                  cache: pip
                  cache-dependency-path: "requirements/*.txt"
            - name: Install Python dependencies
              run: make dev-install
            - name: Install sfdx
              run: |
                  mkdir sfdx
                  wget -qO- https://developer.salesforce.com/media/salesforce-cli/sfdx/channels/stable/sfdx-linux-x64.tar.xz | tar xJ -C sfdx --strip-components 1
                  echo $(realpath sfdx/bin) >> $GITHUB_PATH
            - name: Authenticate Dev Hub
              run: |
                  sfdx plugins --core
                  echo $SFDX_HUB_KEY_BASE64 | base64 --decode > sfdx.key
                  sfdx auth:jwt:grant --clientid $SFDX_CLIENT_ID --jwtkeyfile sfdx.key --username $SFDX_HUB_USERNAME --setdefaultdevhubusername -a hub
              env:
                  SFDX_HUB_KEY_BASE64: ${{ secrets.SFDX_HUB_KEY_BASE64 }}
                  SFDX_CLIENT_ID: ${{ secrets.SFDX_CLIENT_ID }}
                  SFDX_HUB_USERNAME: ${{ secrets.SFDX_HUB_USERNAME }}
            - name: Run robot tests
              run: |
                  coverage run --append $(which cci) task run robot \
                    --org prerelease \
                    -o suites cumulusci/robotframework/tests/salesforce \
                    -o exclude no-browser \
                    -o vars BROWSER:headlesschrome
            - name: Delete scratch org
              if: always()
              run: |
                  cci org scratch_delete prerelease
            - name: Report coverage
              run: coveralls
            - name: Store robot results
              if: failure()
              uses: actions/upload-artifact@v1
              with:
                  name: robot
                  path: robot/CumulusCI/results

    coveralls_done:
        name: Finalize coveralls
        needs: [unit_tests, robot_api, robot_ui_chrome, robot_ui_firefox]
        runs-on: ubuntu-latest
        steps:
            - run: curl -k https://coveralls.io/webhook?repo_token=$COVERALLS_REPO_TOKEN -d "payload[build_num]=$GITHUB_SHA&payload[status]=done"
